.App-logo {
    height: 150px;
    margin-right: 10px;
}
.header {
    height: 150px;
    color: white;
    background: #030049 url(baner.png) no-repeat center;
}
.title-header {
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
    position: absolute;
    top: 60px;
    left: 20px;
}
.logged{
    float: right;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #337ab7;
    border: 1px solid white;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.logged img {
    margin-right: 10px;
}