.track_view {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 1px 1px 1px 5px;
    padding: 5px;
    background-color: snow;
}
.error_bg{
    background-color: #ff0e10;
}

.summary{
    border: 1px solid black;
    border-radius: 10px;
    background-color: cornsilk;
    padding-bottom: 20px;
}
.chartHeader {
    height: 100px;
    margin: 1px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.chartButtons{
    float: left;
    margin-left: 10px;
    text-align: center;
    padding-top: 15px;
}

#songsPerDay {
    float: inherit;
    height: inherit;
    width: 200px;
}


#pickYourDate {
    float: inherit;
    height: inherit;
    width: 200px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: #faebcc;
}