.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 140px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-body {
  padding: 15px 10px;
  margin: 30px 10px;
  color: inherit;
  background-color: #eee;
}
.table{
  margin-top: 10px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
table{
  border: #00b9ff solid 2px;
}